* {
  font-family: Inter;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  background-color: #14171f;
}

.menu-tools {
  position: absolute;
  width: 72px;
  background-color: #24272f;
  top: 50%;
  left: 4%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 4px;
}

.menu-tools :last-child {
  margin-bottom: 0;
  font-size: 24px !important;
}

.menu-tools :first-child {
  font-size: 32px !important;
}

.menu__icon {
  color: white;
  font-size: 20px !important;
  margin-bottom: 24px;
  cursor: pointer;
}

.icon-modifier {
  font-size: 26px !important;
}

.side-bar {
  position: absolute;
  height: 100%;
  width: 300px;
  background-color: #24272f;
  right: 0;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  padding: 32px 8px;
}

.btn {
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.btn--secondary {
  background-color: #fbbf24;
}

.btn--primary {
  background-color: #34d399;
}

#color {
  margin-bottom: 24px;
}

.slider {
  padding: 0px 8px;
}

.slider__title {
  color: white;
}

.ranger {
  width: 100%;
}

.range-values {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
